@import '../../index.scss';

.item-details {
  background-color: #fff;
  padding: 25px 25px 15px 25px;
  margin-bottom: 40px;
  @extend %border-st;

  & h4 {
    margin-bottom: 20px;
    text-align: center;
  }
}

.select-error {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.toggle-button {
  padding: 12px;
  background-color: #000;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 40px;
  outline: none;
  box-shadow: 0px 0px 30px rgba(256, 256, 256, .1);
  cursor: pointer;
  border: 2px solid red;
  box-shadow: 1px 1px 15px darkred,
    -1px 1px 10px darkred;
}
