.hi-title{
  font-size: 40px;
  color: #fff;
  font-style: italic;
  box-shadow: -0.05rem -0.05rem 1px #ed2b12,
   0.05rem -0.05rem 1px #ed2b12,
   -0.05rem 0.05rem 1px #ed2b12,
   0.05rem 0.05rem 1px #ed2b12,
   0 0 15px #630100,
   0 0 20px #450100;
   display: inline;
   background-color: #000;
   padding: 10px;
   font-weight: 700;
}

.wrap-for-text{
  background-color: #000;
  color: #fff;
  display: block;
  margin-top: 50px;
  width: 650px;
  text-align: center;
  padding: 10px 0;
}

.home-title {
  font-size: 60px;
  color: #fff;
}
