@font-face{
  font-family: 'benguiat-rus';
  font-weight: 500;
  font-style: normal;
  src: local(benguiat-rus),
        url('./fonts/benguiat-rus.woff2') format('woff2'),
        url('./fonts/benguiat-rus.woff1') format('woff')
}